/*stuff*/
.push-to-bottom {
	/* position: absolute; */
	margin: 60px auto;
}

#logo {
	width: 30px;
	height: auto;
}

#mainimg {
	width: 80%;
	height: auto;
}

.jumbotron {
  background-color: rgba(47, 94, 217, 0.8) !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8064A2 !important;
    border-color: #8064A2 !important;
		color: white !important;
}

.btn-danger {
   background-color: #6b6b6b !important;
   border-color: #6b6b6b !important;
	color: white !important;
}

/*.btn-danger:disabled {
	background-color: #ebebeb !important;
	border-color: #ebebeb !important;
	color: #6b6b6b !important;
}

.btn-success:disabled {
		background-color: lightgrey !important;
		border-color: lightgrey !important;
		color: darkgrey !important;
}*/

.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:visited {
    color: white !important;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-sucess:visited {
    color: white !important;
}

.logo {
	margin-top: -75px;
}
