

.wrapper {
	margin-top: 80px;
	margin-bottom: 80px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
}

.wrapper-creation {
	margin-top: 30px;
	margin-bottom: 30px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
}

#login .form-signin, #creation .form-signin {
	max-width: 400px;
	padding: 15px 35px 45px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.1);

	.form-signin-heading {
		margin-bottom: 30px;
	}
}
#login .form-control #creation .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	@include box-sizing(border-box);
	&:focus {
		z-index: 2;
	}
}

input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

input[type="password"] {
	margin-bottom: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.overlay {
	height: 495px;
	width: 100%;
	margin-top: 126px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.8);
	overflow-x: hidden;
	display: none;
}

.overlay-creation {
	height: 74%;
	width: 100%;
	margin-top: 34%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	overflow-x: hidden;
	display: none;
}

.overlay-creation .closebtn {
	position: absolute;
	top: 10px;
	right: 45px;
	font-size: 70px;
}

.overlay .closebtn {
	position: absolute;
	top: 1px;
	right: 45px;
	font-size: 70px;
}

#loginError {
	color: red;
}
